@media screen and (max-width: 450px) {
  html {
    font-size: 4vw;
  }
}

.display {
  display: block;
  margin: 20px auto;
  width: 90vw;
  height: 90vh;
  text-align: center;
  border: ridge 3px gray;
}

.main-menu, .credits, .win {
  display: none;
}