html {
  background-color: black;
  color: white;
  font-family: "Syne Mono";
}

button {
  font-family: "Syne Mono";
}

button:hover {
  cursor: pointer;
  border: solid 1px white;
  background-color: black;
  color: white;
}

.display {
  display: block;
  margin: 20px auto;
  width: 940px;
  height: 620px;
  text-align: center;
  border: solid 2px aqua;
}

.game, .instructions, .credits, .win {
  display: none;
}

b {
  color: aqua;
}