@media screen and (max-width: 450px) {
  html {
    font-size: 4vw;
  }
}

.display {
  display: block;
  margin: 20px auto;
  width: 940px;
  height: 620px;
  text-align: center;
}

.main-menu, .credits, .win {
  display: none;
}